<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="pt-5 mb-3">
    <i class="fa fa-plus fa-2x" id="myBtn"></i>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Day</th>
        </tr>
         <tr>
        <td>
            <input type="text" />
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <select>
                <option selected disabled>
                    Select Day
                </option>
                <option>
                    Monday
                </option>
                <option>
                    Tuesday
                </option>
                <option>
                    Wednesday
                </option>
                <option>
                    Thursday
                </option>
                <option>
                    Friday
                </option>
                <option>
                    Saturday
                </option>
                <option>
                    Sunday
                </option>
            </select>
        </td>
  </tr>
    </table>
  </div>

</div>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://kit.fontawesome.com/c1abb5f59a.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>