@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <h1 class="pb-5">Set Daily Goals And Keep Your Own Pace</h1>
 <div class="statuses">
           
 </div>
<div class="todos">
<p id="today">TODAY</p>
    <ul>
        <li> <div class="checkmark"></div> Create This To-Do App </li>
        <li> <div class="checkmark"><i class="fas fa-check"></i></div> Create This To-Do App</li>
        <li> <div class="checkmark"></div> Create This To-Do App</li>
        <li> <div class="checkmark"><i class="fas fa-check"></i></div> Create This To-Do App</li>
        <li> <div class="checkmark"></div> Create This To-Do App</li>
    </ul>
<p id="today">TOMORROW</p>
    <ul>
        <li> <div class="checkmark"></div> Create This To-Do App </li>
        <li> <div class="checkmark"><i class="fas fa-check"></i></div> Create This To-Do App</li>
        <li> <div class="checkmark"></div> Create This To-Do App</li>
        <li> <div class="checkmark"><i class="fas fa-check"></i></div> Create This To-Do App</li>
        <li><div class="checkmark">
            
        </div> This Is The Tester As I said </li>
    </ul>
</div>
<img class="image1" src="~/Images/image.png" />
<img class="image2" src="~/Images/image.png" />
<img class="image3" src="~/Images/image.png" />


